/* Custom Element UI */
.el-custom-input .el-input__inner {
  padding-left: 0;
}
.el-custom-input .el-input__inner,
.el-input-number .el-input__inner,
.el-date-editor--time-select .el-input__inner {
  height: 32px;
  font-weight: 600;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}
.el-custom-input .el-input__inner:hover,
.el-input-number .el-input__inner:hover,
.el-date-editor--time-select .el-input__inner:hover {
  border-color: #c0c4cc;
}
.el-custom-input .el-input__inner:focus,
.el-input-number .el-input__inner:focus,
.el-date-editor--time-select .el-input__inner:focus {
  border-color: #409eff;
}
.el-input__suffix {
  top: 1px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-input__prefix i,
.el-input__suffix i {
  // margin-top: -5px;
}
.el-input-number .el-input__inner {
  padding-left: 32px;
  padding-right: 32px;
}
.el-input-number__decrease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}
.el-input-number__increase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

// .el-input-group__append,
// .el-input-group__prepend {
//   background-color: #fff;
//   border: none;
//   border-bottom: 2px solid #eee;
//   padding: 0 5px 0 0;
// }

// .el-input-group__append,
// .el-input-group__prepend i {
//   font-size: 25px;
// }
