h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-weight: normal;
}
h3 {
  margin: 0;
  font-weight: normal;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
p {
  margin: 0;
}
label {
  font-size: 12px;
  font-weight: 400;
}
button {
  background: transparent;
  outline: none;
  border-style: none;
  cursor: pointer;
}
button.medium {
  width: 36px;
  height: 36px;
}
